<div class="row">
  <div class="col-xs-12">
    <h4 class="text-xs-center p-t-1-xs">Dados de acesso</h4>
  </div>

  <div class="col-xs-12">
    <%= form_tag session_path do %>
      <div class="row">
        <%= fields_for :session do |f| %>
          <%= field_set_tag nil, class: 'form-group col-xs-4 offset-xs-4 text-xs-center' do %>
            <%= f.text_field :private_key, placeholder: 'private_key', class: 'form-control' %>
          <% end %>
          <%= field_set_tag nil, class: 'form-group col-xs-4 offset-xs-4 text-xs-center' do %>
            <%= f.text_field :public_key, placeholder: 'pulic_key', class: 'form-control' %>
          <% end %>
        <% end %>
        <div class="col-xs-2 offset-xs-5">
          <%= submit_tag 'Acessar', class: 'btn btn-block btn-primary', data: { disable_with: 'Carregando...' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
