$margin-steps: (auto, auto), (0, 0), (0_25, 0.25rem), (0_5, 0.5rem), (1, 1rem), (1_5, 1.5rem), (2, 2rem), (2_5, 2.5rem), (3, 3rem), (3_5, 3.5rem), (4, 4rem), (4_5, 4.5rem), (5, 5rem);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    @each $i, $size in $margin-steps {
      .m-a-#{$i}-#{$breakpoint}    { margin: #{$size} !important; }
      .m-r-#{$i}-#{$breakpoint}    { margin-right: #{$size} !important; }
      .m-b-#{$i}-#{$breakpoint}    { margin-bottom: #{$size} !important; }
      .m-l-#{$i}-#{$breakpoint}    { margin-left: #{$size} !important; }
      .m-t-#{$i}-#{$breakpoint}    { margin-top: #{$size} !important; }
      .m-x-#{$i}-#{$breakpoint}    { margin: 0 #{$size} !important; }
      .m-y-#{$i}-#{$breakpoint}    { margin: #{$size} 0 !important; }
    }
  }
}
