$padding-steps: (0, 0), (0_25, 0.25rem), (0_5, 0.5rem), (0_75, 0.75rem), (1, 1rem), (1_5, 1.5rem), (2, 2rem), (2_5, 2.5rem), (3, 3rem), (3_5, 3.5rem), (4, 4rem), (4_5, 4.5rem), (5, 5rem);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    @each $i, $size in $padding-steps {
      .p-a-#{$i}-#{$breakpoint}    { padding: #{$size} !important; }
      .p-r-#{$i}-#{$breakpoint}    { padding-right: #{$size} !important; }
      .p-b-#{$i}-#{$breakpoint}    { padding-bottom: #{$size} !important; }
      .p-l-#{$i}-#{$breakpoint}    { padding-left: #{$size} !important; }
      .p-t-#{$i}-#{$breakpoint}    { padding-top: #{$size} !important; }
      .p-x-#{$i}-#{$breakpoint}    { padding: 0 #{$size} !important; }
      .p-y-#{$i}-#{$breakpoint}    { padding: #{$size} 0 !important; }
    }
  }
}
