<hr>

<div class="row">
  <div class="col-xs-2">
    <%= image_tag comic.thumbnail, size: '100x150' %>
  </div>

  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-6">
        <h6 class="text-xs-left">Título: <%= comic.title %></h6>
      </div>
      <div class="col-xs-6">
        <h6 class="text-xs-center">número de capa: <%= comic.issue_number %></h6>
      </div>
      <div class="col-xs-12">
        <div class="card card-block">
          <%= raw comic.description %>
        </div>
      </div>
    </div>
  </div>
</div>
