<h3 class="text-xs-center">Personagens</h3>

<table class="table table-bordered" style="width: 100%">
  <thead class="thead-default">
    <tr>
      <th style="width: 25%; text-align: center">Nome</th>
      <th style="width: 50%; text-align: center">Descrição</th>
      <th style="width: 25%; text-align: center">Última atualização</th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td class="text-xs-center"><%= link_to character.name, character %></td>
        <td class="text-xs-center"><%= character.description %></td>
        <td class="text-xs-center"><%= character.modified.strftime("%d/%m/%Y %H:%M:%S")%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-xs-center">
  <%= will_paginate @characters %>
</div>
