<div class="row">
  <div class="col-xs-2 text-xs-center">
    <%= image_tag @character.thumbnail, size: '100x150' %>
  </div>

  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-12">
        <div class="card card-block text-xs-center">
          <%= @character.name %>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="card card-block text-xs-center">
          <%= @character.description %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-2">
    <%= link_to 'Voltar', characters_path, class: 'btn btn-block btn-primary' %>
  </div>

  <% if @comics.present? %>
    <div class="col-xs-12 text-xs-center">
      <h3>Fascículos</h3>

      <%= render partial: 'comic', collection: @comics %>
    </div>
  <% end %>
</div>
