<div class="container">
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, class: "alert alert-dismissible alert-#{message_type} fade in m-t-1-xs", role: 'alert' do %>
      <%= content_tag :button, '&times;'.html_safe, class: 'close', type: 'button', data: { dismiss: 'alert' } %>
      <%= message %>
    <% end %>
  <% end %>
</div>
